version: "3"

services:
  redis:
    image: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
  go-app:
    build:
        context: ./
        dockerfile: ./Dockerfile
    volumes:
      - ./:/go/src/app
    command: "go run main.go"
    environment: 
      - ENV=integration_test
    env_file: 
      - .env
    depends_on:
      - redis
